# Testing
pytest==6.2.3  # https://github.com/pytest-dev/pytest
pytest-sugar==0.9.4  # https://github.com/Frozenball/pytest-sugar

# Code quality
flake8==3.9.1  # https://github.com/PyCQA/flake8
coverage==5.5  # https://github.com/nedbat/coveragepy
black==21.4b2  # https://github.com/ambv/black

# Coloring
colorlog==5.0.1  # https://github.com/borntyping/python-colorlog
