# Testing
pytest==7.1.3  # https://github.com/pytest-dev/pytest
pytest-sugar==0.9.5  # https://github.com/Frozenball/pytest-sugar

# Code quality
flake8==5.0.4  # https://github.com/PyCQA/flake8
coverage==6.5.0  # https://github.com/nedbat/coveragepy
black==22.8.0  # https://github.com/ambv/black

# Coloring
colorlog==6.7.0  # https://github.com/borntyping/python-colorlog
